.avatar {
  margin: auto;
  margin-bottom: 25px;
  height: 100px;
  width: 100px;
}
.name {
  margin: auto;
  text-align: center;
  margin-bottom: 5px;
}

.icon-alimentation {
  width: 60px;
  margin-right: 40px;
}
.icon-DIY {
  width: 60px;
  margin-right: 40px;
}

.icon-shop {
  width: 60px;
  margin-right: 40px;
}

.icon-restaurant {
  width: 60px;
  margin-right: 40px;
}

.icon-event {
  width: 60px;
  margin-right: 40px;
}

.valeur-1 {
  margin-top: 20px;
}
