// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: white;
$grey: #4e4b5c;
$light-grey: white;
$our-green: #045757;
$dark-green: #044343;
$dark-grey: #222222;
