// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$grey: #4E4B5C;
$light-grey: #E4E4E4;
$our-green: #045757;
$dark-green: #044343;
$dark-grey: #222222;
