// Specific CSS for your home-page
.landing {
  position: relative;
  width: 100%;
  height: 100vh;

  img {
    position: absolute;
    width: 200px;
    top: 10px;
    left: 15px;
  }
}
.title {
  color: white;
  align-items: flex-end;
  padding-top: 130%;
}

.landing {
  background-image: asset-url("landing.jpeg");
  background-size: cover;
}

.btn .btn-landing {
  padding-top: 15px;
}
