.event-pic-show{
  img{
    width: 100%;
    min-height: 40vh;
    max-height: 100vh;
  }
}

.event-txt-show{
  h1{
    margin-top: 10px;
    color: #044343;
    font-size: 26px;
  }
  h2{
    margin-top: 10px;
    color: #044343;
    font-size: 20px;
  }
}
