.event-pic-show {
  img {
    width: 100%;
    min-height: 40vh;
    max-height: 100vh;
  }
}

.event-txt-show {
  h1 {
    margin-top: 10px;
    color: #044343;
    font-size: 26px;
  }
  h2 {
    margin-top: 10px;
    color: #044343;
    font-size: 20px;
  }
}

.messages {
  overflow: auto;
  max-height: 50vh;
  margin-bottom: 10px;
  border-radius: 3px;
  padding-bottom: 5px;
}

.message {
  max-height: 80vh;
  .message-body {
    border: 1px solid #0497bc;
    background-color: white;
    color: #0497bc;
    // width: fit-content;
    display: inline-block;
    width: auto;
    padding: 2px 12px;
    margin: 0px 5px;
    border-radius: 50px;
    margin-right: 50px;
  }
  p {
    margin: 0 10px;
  }
}

.owner {
  align-self: flex-end;
  text-align: right;
  .message-body {
    background-color: #0497bc;
    color: white;
    width: fit-content;
    // display: inline-block;
    width: auto;
    padding: 2px 12px;
    margin: 0px 5px;
    border-radius: 50px;
    margin-left: 50px;
  }
}

.text-mess {
  align-self: flex-end;
}

.new_message {
  text-align: center;
  .form-control {
    height: 35px;
  }
  .EdgeButton--secondary {
    height: 35px;
    font-size: 16px;
    width: fit-content;
    margin-top: 0px;
    line-height: 0px;
  }
}
.message-infos-author {
  margin-bottom: 0px;
  padding: 5px 5px;
}

.avg-rate-display {
  color: #044343;
}

.url-show-activity:hover {
  // text-decoration: none;
}

.border-bottom {
  border-bottom: 1px solid #044343;
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
}

.icon-add {
  width: 50px;
  margin-right: 40px;
}

.message-form-button {
  border-radius: 10px;
  background-color: white;
  border-color: #0497bc;
}
