<div class="container">
  <%= render 'shared/avatar' %>
  <h3>Bienvenue <%= @user.profile.first_name %></h3>
  <div class="infos">
    <%= link_to "Modifier mes informations", edit_profile_path(current_user)%>
  </div>
  <div class="hearted">
    <p>Mes coups de coeur</p>
  </div>
  <div class="myagenda">
    <p>Les événements auxquels je participe</p>
    <% raise %>
  </div>
</div>
