<div class="container landing">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <%= image_tag "Logo3.png" %>
      <div class="title">
        <h1>Partagez</h1>
        <h1>Découvrez et</h1>
        <h1>Faites le plein d'idées Green</h1>
      </div>
      <div class="btn"> <%= render  "shared/button_transp" %></div>
    </div>
  </div>
</div>
