.EdgeButton--secondary {
  border-radius: 100px;
  border-color: $dark-green !important;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 6px 16px;
  background: none;
  position: relative;
  text-align: center;
  white-space: nowrap;
  color: $dark-green;
}
