.EdgeButton--primary {
  border-radius: 100px;
  border: none !important;
  box-shadow: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 6px 16px;
  background: $dark-green;
  position: relative;
  text-align: center;
  white-space: nowrap;
  color: $light-grey;
  & :hover {
    background: $green !important;
  }
}
