.EdgeButton--secondary {
  border-radius: 100px;
  border-color: $dark-green !important;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
  // width: 200px;
  padding: 6px 16px;
  margin-top: 10px;
  background: white;
  position: relative;
  text-align: center;
  white-space: nowrap;
  color: $dark-green;
}
.EdgeButton--secondary:hover {
  text-decoration: none;
}
