.container {
  padding: 20px;
  color: #045757;
}

.card-event {
  display: flex;
  background-color: white;
  border-radius: 3px;
  height: 200px;
  border-radius: 1px;
  box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  .event-pic {
    width: 50%;
    max-height: 250px;
  }
  .info-event {
    padding: 10px;
    h2 {
      font-size: 22px;
    }
    p {
      font-size: 16px;
    }
  }
}

.grid {
  display: grid;
  grid-gap: 15px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px;
}

@media (max-width: 1000px) {
  .grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
  }
}

@media (max-width: 760px) {
  .grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 200px;
  }
}

.activity-link-show:hover {
  text-decoration: none;
}

.ajout {
  color: #045757;
}
