.my-rating img {
  width: 40px;
  height: 40px;
  background: transparent !important;
  box-shadow: none !important;
  position: relative;
    p {
    position: absolute !important;
    top: 4;
    bottom: 4;
    right: 4;
    left: 4;
    }
}

.haut {
  position: relative;
  i {
    position: absolute !important;
    top: 10px;
    left: 20px;
    font-size: 20px;
    color: yellow;
    text-shadow: 1px 1px 2px gray;
  }
}


