.sign {
  position: relative;
  background: linear-gradient(180deg, rgba(63, 57, 57, 0) 68%, #474545 100%), url(Login.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #044343;
  height: 800px;
}

.form-img {
  img {
    position: absolute;
    width: 20%;
    top: 10px;
    left: 10px;
  }
}

.form-sign {
  padding-bottom: 20px;
  color: white;
  width: 65%;
  margin: auto;
}

.form-control {
  border-radius: 5px;
}
