.form-sign {
  // text-align: center;
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 40%;
  img {
    position: absolute;
    width: 200px;
    top: 10px;
    left: 0px;
  }
  h2 {
    color: white;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
  }
}

.sign-bkg {
  background-image: asset-url("Login.jpeg");
  background-size: cover;
}

.form-inputs {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  label {
    color: white;
  }
}

.form-actions {
  text-align: center;
  margin-top: 20px;
}

.form-shared-links {
  text-align: center;
  margin-top: 20px;
  a {
    color: lightgrey;
  }
}
