#map {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}

.mapboxgl-map {
  // height: 100%;
}

.mapboxgl-popup {
  max-width: 200px;
  position: relative;
  z-index: 50;
}

.mapboxgl-popup-content {
  text-align: center;
}

.mapboxgl-popup {
  overflow-y: scroll;
  overflow-x: scroll;
  border-radius: 20px;
}

.mapboxgl-popup-content {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) !important;
}

.mapbox h5 {
  font-family: 'Hind';
  font-weight: bold;
  color: $dark-green;
}

.mapbox p {
  font-family: 'Rajdhani';
}

.mapbox img {
  box-shadow: 0 0 15px rgba(0,0,0,0.2) !important;
  border-radius: 3px;
  margin-bottom: 5px;
}

.mapboxgl-popup-tip {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) !important;
}

#gros_logo {
  width: 150px;
  margin-top: 16px;
  margin-left: 16px;
}

#fond {
  width: 220px;
  // opacity: 0.9;
}

.mapboxgl-ctrl-top {
  z-index: 5;
}

.mapbox-title {
  padding-top: 15px;
}

.mapbox-address {
  font-style: italic;
}


.mapbox-description {

}

.mapboxgl-ctrl {
  margin-right: 20px !important;
}

.mapboxgl-ctrl-geocoder {
  border-radius: 30px !important;
  color: #e4e4e4 !important;
  background-color: $our-green !important;
}

.mapboxgl-ctrl-geocoder--icon-search {
  fill: #e4e4e4 !important;
}

.calculation-box {
height: 50px;
width: 250px;
position: absolute;
bottom: 100px;
left: calc(50vw - (250px/2));
text-align: center;
display: flex;
justify-content: space-around;
align-items: center;
background-color:rgba(255,255,255, 0.7);
border-radius: 5px;
  .activity_filter {
      width: 30px;
  }
}
