.navbar-lewagon {
  position: fixed;
  right: 20px;
  top: 20px;
  justify-content: space-between;
  background: transparent !important;
  z-index: 10;
  display: block;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbarSupportedContent {
  background-color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  justify-content: center;
}

.navbar-toggler {
  font-size: 16px;
}


