.navbar-lewagon {
  position: fixed;
  right: 5px;
  top: 20px;
  justify-content: flex-end;
  background: transparent !important;
  z-index: 100;
  display: flex;
  width: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) !important;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbarSupportedContent {
  background-color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  justify-content: center;
}

.navbar-lewagon .navbar-toggler {
  font-size: 12px;
  width: 34px !important;
  color: #222222 !important;
  background-color: #e4e4e4 !important;
  background: #e4e4e4 !important;
  padding-top: 0.1rem;
  padding-right: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 0.1rem;
  margin-right: 0 !important;
  button {
    background-color: #e4e4e4 !important;
    background: #e4e4e4 !important;
  }
}

.navbar-nav {
  text-align: center;
  align-items: center;
}

.nav-items a {
  margin: 0;
}
