<div class="cards shadow mb-3 bg-white rounded">
  <div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPLJ2BePErT2DWwBbmjSbHpjKdJIqmiPgAzW6rYGC8x2Zy7h2x">
  </div>

  <div class="info-event">
    <h2> 10 juillet - 11 juillet </h2>
    <h2>Nom de l'événement</h2>
    <p>Petit festival des familles</p>
  </div>

</div>
