<div class="container">
  <h2> Tous les events</h2>
  <div class="grid">
    <% @activities.each do |activity| %>
      <% if activity.category == "Event" %>
        <%= render "activities/cards_event", activity: activity %>
      <% end %>
    <% end %>
    <div class="ajout">
      <%= link_to "J'ajoute un event!", new_activity_path, class: "border EdgeButton--secondary" %>
    </div>
  </div>
</div>
